# File comment header
# (Just testing out expansion options)
snippet header
" File: ${1:`!v expand('%:t')`}
" Author: ${2:`!v g:snips_author`}
" Description: ${3}
${0:" Last Modified: `date +%d-%m-%Y`}
endsnippet
