# Todo list item
snippet - "Checkbox"
- [ ] $0
endsnippet

# Daily log template
snippet ds "Daily log template"
# ${1:Title}

${2:One-liner.}

# `date +%A`, `date +%d/%m/%y`

## Last time
* ${3:What happened?}

## Today's Goals
- [ ] $0

## Log
- [ ]
endsnippet

