# Big title
snippet = "Vimwiki title"
=== $0 ===
endsnippet

# Todo list item
snippet - "Checkbox"
- [ ] $0
endsnippet

snippet ds "Diary template" w
# ${1:Title}

${2:One-liner.}

# `date +%A`, `date +%d/%m/%y`

## Goals
- [ ] $0

## Log
- [ ]

## Notes for tomorrow

endsnippet

